<!-- <div class="container my-5">
    <h1 class="mb-3">Movies</h1>
    <a class="btn btn-primary" routerLink="movie-add">Add movie</a>
    
    <kendo-grid
    [kendoGridBinding]="movies"
    [pageable]="true"
    [pageSize]="10"
    [sortable]="true"
    [filterable]="true"
    >
        <kendo-grid-column field="MovieId" title="ID">
        </kendo-grid-column>
        <kendo-grid-column field="MovieName" title="Name">
        </kendo-grid-column>
        <kendo-grid-column field="Genre" title="Genre">
        </kendo-grid-column>
        <kendo-grid-column field="ReleaseDate" title="ReleaseDate">
        </kendo-grid-column>
        <kendo-grid-column field="Description" title="Description">
        </kendo-grid-column>
    </kendo-grid>
</div>
 -->
 <a class="btn btn-primary" routerLink="/admin/movies">Switch to admin mode</a>
<div class="container text-center mt-4">
  <div class="row row-cols-4 column-gap-5 row-gap-4">
    <div *ngFor="let item of movies" class="card me-auto" style="width: 15rem">
      <img src="{{ imageSrc }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.MovieName }}</h5>
        <p class="card-text">{{ item.Genre }}</p>
        <p class="card-text">{{ item.Description }}</p>
        <a href="#" class="btn btn-primary">click here</a>
      </div>
    </div>
  </div>
</div>
