@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Tittle = "Form";
}
<form action="Form" method="post">
    <span class="form-control-static">
        Receiver Email:< /span>
        <input class="form-control" type="text" name="receive"></input>
        <span class="form-control-static"> Subject</span>
        <input class="form-control" type="text" name="subject"></input>
        <span class="form-control-static"> Message</span>
        <input class="form-control" type="text" name="  Message"></input>
        <button type="Submit">Send Email</button>

</form>