<h2 class="reg">Registration Form</h2>

  <form class = "RegistrationForm">
    <label>Name:</label>
    <input type="text" ng-model="formData.name" required />
    <label>Email:</label>
    <input type="email" ng-model="formData.email" required />
    <label>Phone:</label>
    <input type="number" ng-model="formData.phoneNumber" required />
    <label>Major:</label>
    <input type="text" ng-model="formData.university" required /> 
    <button ng-click="submitForm()">Submit</button>
  </form>

  
  
